.abc {

background-image: url("Images/clockt.jpg");
background-size:cover;

}
.xyz {
background-color:#000000;
color:#FFFAF0;
position:relative;
left:62.5%;
display:flex;
flex-wrap:wrap;
margin-top:-10%;
zoom:1.25;

}
.boss {
display:flex;
flex-wrap:wrap;
}
input[type="text"]:hover, input[type="text"]:focus{
background-color:#d0e2f0;
}
input[type="submit"]:hover{
backround-color:#C71585;
}
.texter {
position:relative;
left:16%;
margin-top:6.5%;
zoom:1.5;
}
